<html>
    <head>
            
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
      <link rel="stylesheet" href="{{ url_for('static', filename='css/circle.css') }}" />
       <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />


    </head>
    <body>
        
     <style>
       /* override global svg style */
      svg {width:1.8em}
      </style>


            <div class="centered">
       
                <svg style="display: none">
                    <symbol id="star" viewBox="0 0 98 92">
                    <title>star</title>
                    <path d='M49 73.5L22.55 87.406l5.05-29.453-21.398-20.86 29.573-4.296L49 6l13.225 26.797 29.573 4.297-21.4 20.86 5.052 29.452z' fill-rule='evenodd'/>
                  </svg>
             
           
           <div class="c100  center" id="ratingChart">
             {%if submitted == false%}
              <span id="rateCircle">

                    <div style="display: inline-block">
                      <div id="stars" class="stars">
                        <a class="star" href="javascript:void(0)"><svg><use xlink:href="#star"></use></svg></a>
                        <a class="star" href="javascript:void(0)"><svg><use xlink:href="#star"></use></svg></a>
                        <a class="star" href="javascript:void(0)"><svg><use xlink:href="#star"></use></svg></a>
                        <a class="star" href="javascript:void(0)"><svg><use xlink:href="#star"></use></svg></a>
                        <a class="star" href="javascript:void(0)"><svg><use xlink:href="#star"></use></svg></a>
                      </div>
                    </div>
                    <form action="/rate:bookID:{{book_id}}" method="POST"> 
                      <input type="hidden" id="rating" name="rating" value="">
                      <input type="hidden" id="book_id" name="book_id" value="{{book_id}}">
                      <input type="submit" id="rate-btn" class="rate-btn" value="Rate it!" onclick="parent.ratingChart.location.reload();">
                    </form>
                  
               </span>
            

               {%else%}
               <span id="thanks">Thanks for<br>your rating</span>
               
               {%endif%}
               <div class="slice">
                 <div class="bar" id="rateBar"></div>    
                 <div class="fill" id="fillBar"></div>
              </div>

             </div>



   
        










 <script>

  /*modified code from https://codepen.io/zellwk/pen/YwjZQv*/
  
  /*Initilise variables*/
  var rate_btn = document.getElementById("rate-btn");                
  var starContainer = document.getElementById('stars')
  var stars = Array.prototype.slice.call(starContainer.children)
  var totalStars = stars.length
  var rated = document.getElementById('rated')
  
  rate_btn.disabled = true; 
  
  /*the function enables star ratnigs */
  starContainer.addEventListener('click', function(e) {
    var index = stars.indexOf(e.target)
    var count = totalStars - index;
    stars.forEach(el => el.classList.remove('is-selected'))
    e.target.classList.add('is-selected')
    document.getElementById("rating").value = count;
    document.getElementById("ratingChart").className = "c100"+" "+"p"+count*20+" "+"center";
    if (document.getElementById("rate-btn") != 'Null'){
    rate_btn.disabled = false;
    rate_btn.classList.add("rate-btn-after","rate-btn-after:hover")};
  })
 </script>
    </body>
</html>