<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/static/css/style.css" />
 
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>Document</title>
</head>
<body>
      
{%if status != True%}
<div class="container">

    
<form action="/review:bookID:{{book_id}}" method="POST" class="general-form"  name="review-form" id="review-form" >
        
        <label for="title">Title</label>
        <span id="titleError" class="error"></span><br>
        <input type="text" name="title" id="title" value="" ><br>
        

        <label for="comment">Your comment</label>
        <span id="reviewError" class="error"></span><br>
         <textarea rows="4" cols="50" name="comment" id="comment" ></textarea> <br>
       
            <span >
                <svg style="display: none; width: 1.8em; height: 2em">
                    <symbol id="star" viewBox="0 0 98 92">
                    <title>star</title>
                    <path d='M49 73.5L22.55 87.406l5.05-29.453-21.398-20.86 29.573-4.296L49 6l13.225 26.797 29.573 4.297-21.4 20.86 5.052 29.452z' fill-rule='evenodd'/>
                  </svg><br>
                 <strong> How many stars would you give?</strong>
                </span><span id="ratingError" class="error"></span><br>
                  <div style="display: inline-block">
                    <div id="stars" class="stars">
                      <a class="star" href="javascript:void(0)"><svg class="star_svg"><use xlink:href="#star"></use></svg></a>
                      <a class="star" href="javascript:void(0)"><svg class="star_svg"><use xlink:href="#star"></use></svg></a>
                      <a class="star" href="javascript:void(0)"><svg class="star_svg"><use xlink:href="#star"></use></svg></a>
                      <a class="star" href="javascript:void(0)"><svg class="star_svg"><use xlink:href="#star"></use></svg></a>
                      <a class="star" href="javascript:void(0)"><svg class="star_svg"><use xlink:href="#star"></use></svg></a>
                    </div>
                  </div>
                
               <br>
             </span><span id="ratingError" class="error"></span><br>
        <input type="hidden" name="book_id" value="{{book_id}}">
        <input type="hidden" name="rating" id="rating" value = 0>
        
      
      </form>

                  
  
      
                       <button class="form-btn" id="edit-btn" onclick="validate()">submit</button>
    

           
                
        
   
        
        
        
                          <script>
                          
        var starContainer = document.getElementById('stars')
        var stars = Array.prototype.slice.call(starContainer.children)
        var totalStars = stars.length
        var rated = document.getElementById('rated')
        
       
        starContainer.addEventListener('click', function(e) {
          var index = stars.indexOf(e.target)
          var count = totalStars - index;
          stars.forEach(el => el.classList.remove('is-selected'))
          e.target.classList.add('is-selected')
          document.getElementById("rating").value = count;
        })


        function validate() {
           var title =  document.getElementById('title').value;
          
          var review = document.getElementById('comment').value;
           var rating = document.getElementById('rating').value;
          if (title == ""){
           document.getElementById("titleError").innerHTML = "Please fill in this field";}
          else{
            document.getElementById("titleError").innerHTML =""
          }
          if (review == ""){
           document.getElementById("reviewError").innerHTML = "Please fill in this field";}
          else{
            document.getElementById("reviewError").innerHTML = ""
          }
          if (rating == "0"){
           document.getElementById("ratingError").innerHTML = "Please chose the number of stars";}
          else{
            document.getElementById("ratingError").innerHTML = ""
          }
          if(title != "" && review != "" && rating != "0"){document.getElementById("review-form").submit();}
}


            </script>

{%else%}
   
<div class="center">
    <i class="fas fa-check" id="icon-success"></i>
    <h3> Thank you! your review has been submitted. </h3>
  </div>
   
{%endif%} 
</body>
</html>







