html {
  scroll-behavior: smooth;
}
main{
  margin-top: 4em;
}
/* /* reviews  */
.review_wrap{
  border: solid 1px rgb(207, 203, 203);
  width: 90%;
  margin:auto;
  margin-bottom: 1em;
  padding: 1em
}

/* paginition */
.paginition{
  text-align: center;
}
.paginition form{
  display: inline
}
#go_btn{
  background-color: #337ab7;
  color: white;
  border: none;
  padding: 0.2em;

}
#goTo{
  width: 2em;

}





.account_wrapper{background-color: #e6eff9;}
#editFrame{
  min-height: 500px
}
#title_account{
  height: 1.4em;
  width: 50%;
  overflow: hidden;
  text-align: left;
}
#title_account, #delete, #edit{
  display: inline-block;
 
}
#delete, #edit{
  float:right
}
.add_book_form >  input{width: 100%}

.review_form > input{width:100%}
#description, #comment{
  width: 100%
}

.error{
  color: red
}


#account_main{
  height: unset
}
#accordion{
  margin-top:4em
}
#delete_form{
  display: inline-block
}
body{
 
  font-family: 'IBM Plex Sans', sans-serif;
  margin: auto;

}
.thin_line{
  margin: 0
}
.svg_main{
 height:50%;
  color:white;
  margin-top:9em
}
#review_svg{
  margin-top: 5em
}
#review_form{
  width:95%
}
.right{text-align : right}
.center{text-align: center}



.search_form_nav{
  
    border-radius: 9px;
    float: none;
    margin: auto;
    border: solid 1px #ccc;
    background-color: white;
}


.search_form_index{
  max-width: 56em;
  border-radius: 9px;
  width: 60%;
  float: none;
  margin: auto;
  margin-top: -1em;
  background-color: white;
  box-shadow: 1px 12px 22px 2px #e6eff9;
}




.button_addBook{
  border:solid #307bbb 1px;
  border-radius:9px;
  padding: 10px;
  margin-left:10px;
}
.button_addBook:hover{
  text-decoration: none;
  font-weight: bold;
  color: #307bbb
  
}
/* index page */
.container_main{
  margin-top: 4em;
  text-align: center;
  height: 50vh;
  width:100%;
  background-color: #E5EFF9;
}
#main_svg{
  width: 60%;
  max-height: 70%;
  margin-top: 5em;
}



.headline{
  text-align: center;
  background-color: #e6eff9;
  padding: 0 1em 1em 1em;
  
}
.headline h1, .headline h3{
  margin:0;

  padding-bottom: 1.6em;
}
/*navigation  bar*/
.navTop{
width:100%;
height: 4em;
position: fixed;
top: 0;
background-color:white;
z-index: 1;

}
.navTopRight{
  width: 20%;
  min-width: 170px;
  float:right;
  padding-top: 1.2em;
  text-align: right;
  margin-right: 0.2em;
}

.right{
  float: right;
}
/* logo */
.home{


font-size:2.5em;
}
.home_wrap{
  width: 10%;
  float: left;
  margin-left:2em;
  padding-top:4px;
}
#plus{
  font-size: 22em;
  color: white;
  font-weight: bold;
}
#addBook{

    border: solid 1px;
    border-radius: 9px;
    padding: 0.8em;
    margin-left: 1em;
  }
  #add_book_form input,.general_form input, #description{
    width:100%;
    border: solid 1px #ccc;
    border-radius: 9px;
  }
/* log in page */
.form_wrap{
  width: 100%;
  text-align:center;
  
  }

#add_book_form{
  width: 98%
}
.general_form{
  border-radius: 9px;
  max-width: 56em;
  width: 60%;
  float: none;
  margin: auto;
  margin-top: -1em;
  background-color: white;
  box-shadow: 1px 12px 22px 2px #e6eff9;
}

.general_form input, #add_btn, #submit{
  width: 83%;
  
  height: 3em;
 
}
.label_icon{
  
  padding-left:1em
}
.form_btn{
  width:100%;
  border-radius:9px;
  background-color: #307bbb;
  color: white;
  margin-bottom: 0.3em;
}
#log_error{
  color: red;
    position: relative;
    top: -35px;
}
#log_main{
  margin-top: 1em
}


/* result page */
.result_wrap{
  margin-top: 9em
}
.result_wrap h3{
  text-align: center
}
.result_container{

margin: 1em 1em 1em 1em;
box-shadow: 0px 0px 8px 1px #d5e8f9
}
.result_img_wrap{
  width:30%;
  display:inline-block;
  vertical-align: top;
}
.result_img{
  width:100%;
  margin: 0.3em
}
.title{
  width: 60%;
    display: inline-block;
    vertical-align: top;
  }
  .description{
    height: 8em;
    overflow: scroll;
  
}
.result_txt_wrap{
  display: inline-block;
  width: 63%;
  margin: 0.5em;
}
.affiliate{
  padding: 0.5em;

}
 .fa-external-link-alt{
  color: #777;
  float: right
}
.details{
  padding: 1em
}
.panel-heading h4{
  color: #337ab7
}
.panel-group{
  margin: 2em 0 0 0;
}

/*rating stars*/
svg {
    fill: #E1E1E1;
    pointer-events: none;
  }
  
  .stars {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-end;
  }
  
  .star.is-selected svg,
  .star.is-selected ~ .star svg {
    fill: #307bbb
  }
  
  .star:hover svg,
  .star:hover ~ .star svg {
    fill: #307bbb;
  }
  
  #rated {
    margin-top: 1em;
    padding-left:40px;
    color: grey;
    text-decoration: none;
    animation: fadein 2s;
  }
  .rate{
    width: 34px;
  }
  .rtl {
    direction: ltr;
  }
  #stars{
    padding-top:15;
    padding-left: 9;
  }
  .star_svg{width: 2em;
    height: 2em}


  /* iFrames */
  /*  rate chart iFrame */
  iframe{
    min-height: 400px;
    min-width: 400px;
  }
  .iFrameWrap{
    text-align: center;
    margin-left: 4em;
  }
.iFrame{
  display: inline-block
}
  .frameWrapper{
    text-align: center
  }
 
  /* charts & circles */
  #singleStar{
    padding-left: 10px;
    padding-top: 16px;
    height: 1em;
    width: 1em;
  }
  #star{
    font-size: 1em;
  }
  
  #rateCircle{
    font-size: 0.1em
  }
  #rate_button{
    position: absolute;
    top: 120;
    left: 60;
    
     color:white;
      border:none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    
  
  }
  .yes, .no{
    color: #307bbb;
    background-color: white;
    border: solid 2px #307bbb;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    min-width: 4em;
    padding: 5px 9px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .yes:hover, .no:hover{
    border: solid 3px  #307bbb;
  }
  .yes{float: right;}
.no{float: left}
  #thanks{
    padding-top: 72px;
    font-size: 0.16em;
    padding-left: 19;
  }
#review{
  font-size: 22;
  color: #307bbb;
  border: solid 2px #307bbb;
  padding: 12 8;
  text-decoration: none;
}
#review:hover{
  border: solid 3px;
}

#like{
  width: 1em;
  position: absolute;
  top: 0.5em;
  left: 2em;
}


#text{
  overflow:hidden;
  transition:max-height 1.3s ease-out; 
  height: 17em;
  max-height:900px; 
}
#text h1{
  font-size: 1.7em
}
#show_more ,#show_less{
  float: right;
  margin-right: 2em;
  border:none;
  background-color: transparent;
  color: #337ab7
}
#show_less{
  display: none
}
#more_less{
  width: 90%
}

.book_img_wrap, #text_wrap{
display: inline-block;
text-align: center;
vertical-align: top;
margin-top: 4em;
}
  .book_img{
    width: 95%;
  }
#text{
  padding: 1em;
}



  /* reviews book page */
  #revStars{
    font-size: 4em
  }

/* search form */
#index{
  text-align: center;
  position:absolute;
  top:40vh;
  width:100%
}
.search_form_wrap{
 
  width: 100%;
}

.search_form_wrap_nav{
  width: 100%;
  position: fixed;
  top: 4em;
  background-color: white;
  border-top: solid 3px white;
  padding-bottom: 4px;
}
  

#index_search_input, #nav_search_input{
border: none;
    width: calc(100% - 180px);
    padding: 12px 0px;
}

#select_genre, #add_genre{
  font-weight: bold;
  border: none;
  background-color: transparent;
  width: 115px;
  padding: 12px 0px;
  margin-left: 6px;
  color: #337ab7;
}
#add_genre{
  border:solid 1px #ccc;
  border-radius: 9px;
  margin: 0px
}
#submit_button{
  width: 55px;
  background-color: #337ab7;
  border: none;
  color: white;
  float: right;
  padding: 12px;
  border-radius: 0px 9px 9px 0px;
}
#add_btn #submit{

  float:none

}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}

.descriptionLarge{
  display: none
}
  @media only screen and (min-width: 700px) {
    .search_form_nav{
      width: 68%;
    }
    .navTopRight{
      margin-right: 1em
    }
    .log_in_form input{
      width: 35%
    }
    .thin_line{
      display:none
    }
    .form_btn{
      width:14%;
      
    }
    .descriptionMobile{
      display: none
    }
    .descriptionLarge{
      display: block
    }
    .result_container{
      width: 80%;
      margin: auto
    }
    .affiliate{
      text-align: right;
    }
   #text{
     width:90%
   }
  
   
  }


@media only screen and (max-width: 655px) {
 #search_form_index{
   width: 98%;
 }


  }
  
  @media only screen and (min-width: 1023px) {
    .search_form_nav{
      max-width: 600px;
      margin-top: -54px
    }
    .log_in_form{
      max-width: 600px;
    }
    .result_img_wrap{
      width:20%
    }
   
  }
  @media only screen and (max-width: 1023px) {
    main{
      margin-top: 7em
    }
  }

  @media only screen and (max-width: 1423px) {
 
  #text{
    height:auto
  }
  }