{% extends "base.html" %}


{%block user_account%}

<style>
  
    /*modified code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs_open*/
    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: white;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: white;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #337ab7;
      color: white;
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
    </style>
<!-- Bootstrap accordion  -->

  <div class="container container-margin">
<!--modified code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs_open-->
      <div class="tab">
          <button class="tablinks" onclick="openTab(event, 'books')" id="defaultOpen">My books</button>
          <button class="tablinks" onclick="openTab(event, 'reviews')">My reviews</button>
        </div>
        
        <div id="books" class="tabcontent">
          
            {%for eachBook in books%}
            <div class="account_wrapper">
              <div id="title_account">
                {{ eachBook.title}}
              </div>
              
              <div id="delete">
                  <!--form, if submitted, deletes the book titled - "{{eachBook.title}}"-->
                <form action="{{ url_for('account') }}" method="POST" id="delete_book_form">
                  <input type="hidden" name="book_id" value="{{eachBook._id}}">
                  <input type="hidden" name="id" value="delete_book">
                  <button class="delete-btn"><i class="far fa-trash-alt"></i> Delete</button>
                </form>
              </div>

              <div id="edit">
                <!-- a button, if clicked brings the pop-up that allows to edit the information of the book titled - "{{eachBook.title}}" -->
                <button class="edit-btn" type="button" data-toggle="modal" data-target="#{{eachBook._id}}"><i
                    class="far fa-edit"></i>Edit</button>
              </div>

            </div>
            <!--Bootstrap modal. Contains an iFrame with the book editing form-->
            <div class="modal fade" id="{{eachBook._id}}" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="contactFormHeader">
                      <h4>Edit "{{eachBook.title}}"</h4>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <iframe id="editFrame" name="edit" frameborder="no" src="/edit_book{{eachBook._id}}"></iframe>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn-close btn btn-default btn-sm" data-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>

              </div>
            </div>
            <br>
            {%endfor%}
        </div>
        
        <div id="reviews" class="tabcontent">
          {%for eachReview in reviews%}
            <div class="account_wrapper">
              <div id="title_account">
                {{ eachReview.title}}
              </div>

              <div id="delete">
                <!--form, if submitted, deletes the review titled - "{{eachReview.title}}"-->
                <form action="{{ url_for('account') }}" method="POST" id="delete_review_form">
                  <input type="hidden" name="review_id" value="{{eachReview._id}}">
                  <input type="hidden" name="id" value="delete_review">
                  <button><i class="far fa-trash-alt"></i> Delete</button>
                </form>
              </div>

              <div id="edit">
                <!-- a button, if clicked brings the pop-up that allows to edit the review titled - "{{eachReview.title}}" -->
                <button type="button" data-toggle="modal" data-target="#{{eachReview._id}}"><i
                    class="far fa-edit"></i>Edit</button>
              </div>
            </div>

            <!--Bootstrap modal. Cotains an iFrame with the review editing form-->
            <div class="modal fade" id="{{eachReview._id}}" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="contactFormHeader">

                      <h4>Edit review"</h4>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <div class="modal-body">
                  
                    <iframe class="feedback" name="edit" frameborder="no" src="/edit_review{{eachReview._id}}"></iframe>




                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn-close btn btn-default btn-sm" data-dismiss="modal">
                      Close
                    </button>
             
                    
                  </div>
                </div>

              </div>
            </div>



            <br>
            {%endfor%}
        </div>
        
        
        
        <script>
        function openTab(evt, tabName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(tabName).style.display = "block";
          evt.currentTarget.className += " active";
        }
        
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        </script>


  </div>




  <script>



  function validate() {
    var title = document.getElementById('title').value;

    var description = document.getElementById('description').value;
    var genre = document.getElementById('add_genre').value;
    if (title == "") {
      document.getElementById("titleError").innerHTML = "Please fill in this field";
    }
    else {
      document.getElementById("titleError").innerHTML = ""
    }
    if (description == "") {
      document.getElementById("descriptionError").innerHTML = "Please fill in this field";
    }
    else {
      document.getElementById("descriptionError").innerHTML = ""
    }
    if (genre == "Choose genre") {
      document.getElementById("genreError").innerHTML = "Please choose genre";
    }
    else {
      document.getElementById("genreError").innerHTML = ""
    }
    if (title != "" && description != "" && genre != "Choose genre") { document.getElementById("add_book_form").submit(); }
  }
/*******************************************************************/
  
</script>



{%endblock%}