<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/circle.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title></title>
</head>

<body>

<header>

 <div class="navTop">

 <!--logo (home button)-->
   <div class="home_wrap">
  <a href="/" class="home"><i class="fas fa-book-open"></i> </a> 
   </div>

<!--navigation items (on the right)-->
   <div class="navTopRight">
      <a href="{{ url_for('account') }}"><i class="fas fa-user"></i> Account</a>
      <a id="addBook" href="{{ url_for('addBook') }}">Add Book</a>
   </div> 
   
  {# if the current page is not the index page,
     show the search books form with appropriate search values #}

  {%set root = request.path%}
  {%if root != "/"%}

      {%set searchValue = search_term%}

      {%if search_term == "All_books"%}
      {% set searchValue = ""%}
      {%endif%}

   <!--navbar book search form-->
  <div class="search_form_wrap_nav" id="search_form_wrap_nav">
    <form action="{{ url_for('initialise') }}" method="POST" class="search_form_nav" id="search_form_nav">
          <select name="genre" id="select_genre">
                {% set select = ["Choose genre", "Comics", "Drama", "Science", "Fiction"]%}
                {% set selected = ""%}
                {%for eachOption in select%}
                   {%if eachOption == genre%}
                     {%set selected = "selected"%}
                   {%endif%}
                  <option value="{{eachOption}}" {{selected}}>{{eachOption}}</option>
                {%endfor%}
              </select>
              <input type="text" name="search term" id="nav_search_input" value="{{searchValue}}"placeholder="type book title ...">
           <button id="submit_button"><i class="fas fa-search"></i></button>
    </form>
  </div>
  
  {%endif%}
</div>

</header>
<main>
{%block register%}
{%endblock%}

{%block log_in%}
{%endblock%}  

{%block review%}
{%endblock%}

{%block add_book%}
{%endblock%}

{%block test1%}
{%endblock%}

{%block book_page%}
{%endblock%}

{%block index%}
{%endblock%}
   
{%block user_account%}
{%endblock%}

{%block search_result%}
{%endblock%}

<br>

{% block pagination%}
{% endblock %}

</br>

{%block user%}
{%endblock%}
</main>

<script src="{{ url_for('static', filename=js/js.js)}}"></script>
</body>
</html>

