{% extends "base.html" %}
{% block search_form %}
{%set searchValue = search_term%}
{%if search_term == "All_books"%}
{% set searchValue = ""%}
{%endif%}
<form action="{{ url_for('initialise') }}" method="POST">
  <input type="text" name="search term" value="{{searchValue}}">
  <select name="genre">
      {% set select = ["All genres", "Comics", "Drama", "Science", "Fiction"]%}
      {% set selected = ""%}
      {%for eachOption in select%}
         {%if eachOption == genre%}
         {%set selected = "selected"%}
         {%endif%}
        <option value="{{eachOption}}" {{selected}}>{{eachOption}}</option>
      {%endfor%}
    </select>
  <input type="submit" value="Submit">
  
</form>
<br>
{%endblock%}

 
{% block test %}

    
  
<div class="container-fluid">
 <div class="row">
     <div class="col-lg-3">
      <image src="{{ book.get('image')}}">
     </div>
     <div class="col-lg-6">
           <h1> {{ book.get("title")}}</h1>
           By: {{ book.get("author")}}<br>
           <p>
            {{ book.get("description")}}
            </p>
        </div>
      <div class="col-lg-3">
        <br>
        <br>
        <br>
        xxxx
      </div>

  </div>
</div>

<div class="container">
      
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#details">Book details</a>
              </h4>
            </div>
            <div id="details" class="panel-collapse collapse">
              <div class="panel-body">
              
              
                <strong>format:</strong> {{book.format}}
               <strong>language:</strong> {{book.language}}
             </div>
              
            </div>
          </div>
        </div>
</div>
    
   
<div class="row">
    
    <div class="col-lg-4 col-md-12" style="border: dashed red">
    
        <iframe name="ratingChart" style="border:1px solid red;    
        height:350px;
        width:100%;" src="/ratingChart:bookID:{{book._id}}"></iframe>
       
    
     </div>

 <!--recomend section-->

  <div class="col-lg-4 col-md-12" style="width: 400px; border: dashed red">
      <iframe name="recomend" style="border:1px solid red;    
      height:350px;
      width:100%;" src="/recommend:bookID:{{book._id}}"></iframe>
  </div>
    
   <!--rate & review section-->
    <div class="col-lg-4 col-md-12" style="border: dashed red">
        <iframe style="border:1px solid red;    
        height:350px;
        width:220px;" src="/rate:bookID:{{book._id}}"></iframe>
       
    
     </div>
      
       
</div>
</div> 

    
<!--Review section-->
reviews:
  <br>

{% for eachReview in reviews %}

{%if eachReview.review != ""%}

  <div style="border: solid red">

      
      {%for x in range(1,6)%}
        {%if x == eachReview.rating or x < eachReview.rating%}
         <svg height="25" width="25">
             <polygon points="12.5,1.25 5,24.75 23.75,9.75 1.25,9.75 20,24.75" style="fill:lime;fill-rule:nonzero;"/>
             Sorry, your browser does not support inline SVG.
        </svg>
        {%else%}
        <svg height="25" width="25">
            <polygon points="12.5,1.25 5,24.75 23.75,9.75 1.25,9.75 20,24.75" style="fill:grey;fill-rule:nonzero;"/>
            Sorry, your browser does not support inline SVG.
       </svg>
       {%endif%}
      {%endfor%}
    {{eachReview.rating}}
    <br>
     {{ eachReview.title }}
     <br>
     {{eachReview.review}}
     
     
     {%endif%}
   </div>   

<br>


{% endfor %}

{%endblock%}