{% extends "base.html" %}


 
{% block test %}

    
  
<div class="container-fluid">
 <div class="row">
     <div class="col-md-3">
      <image class="book_img" src="{{ book.get('image')}}">
     </div>
     <div class="col-md-6" >
           <h1> {{ book.get("title")}}</h1>
           By: {{ book.get("author")}}<br>
           <p>
            {{ book.get("description")}}
            </p>
        </div>
      <div class="col-md-3">
        <br>
        <br>
        <br>
        xxxx
      </div>

  </div>
</div>

<div class="container">
      
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#details">Book details</a>
              </h4>
            </div>
            <div id="details" class="panel-collapse collapse">
              <div class="panel-body">
              
              
                <strong>format:</strong> {{book.format}}
               <strong>language:</strong> {{book.language}}
             </div>
              
            </div>
          </div>
        </div>
</div>
    
   
<div class="row iFrameWrap">
    
    <div class="col-lg-4 col-md-12 " >
    
        <iframe name="ratingChart" id="ratingIframe" scrolling="no" frameborder="no" src="/ratingChart:bookID:{{book._id}}"></iframe>
       
    
     </div>

 <!--recomend section-->

  <div class="col-lg-4 col-md-12" >
      <iframe name="recomend" frameborder="no" scrolling="no"  src="/recommend:bookID:{{book._id}}"></iframe>
  </div>
    
   <!--rate & review section-->
    <div class="col-lg-4 col-md-12">
        <iframe frameborder="no" src="/rate:bookID:{{book._id}}"></iframe>
       
    
     </div>
      
       
</div>
</div> 


<!--Review section-->
reviews:
  <br>
 
{% for eachReview in reviews %}
{{eachReview.review}}
{%if eachReview.review != "" %}

  <div style="border: solid #cccccc">
   
     
            
         
      
      {%for x in range(1,6)%}
        {%if x == eachReview.rating or x < eachReview.rating%}
        <svg style="width: 2em; height: 2em"><use xlink:href="#yellow" class="is-selected"></use></svg>
         
           
        {%else%}
        <svg style="width: 2em; height: 2em"><use xlink:href="#cccccc" class="is-selected"></use></svg>
       {%endif%}
      {%endfor%}

    
     {{ eachReview.title }}
     
     {{eachReview.review}}
     
     
     {%endif%}
 </div>   




{% endfor %}
<svg>
    <symbol id="yellow" viewBox="0 0 98 92">
    <title>star</title>
    <path d='M49 73.5L22.55 87.406l5.05-29.453-21.398-20.86 29.573-4.296L49 6l13.225 26.797 29.573 4.297-21.4 20.86 5.052 29.452z' fill="#f8c417"/>
    </svg>
    <svg>
        <symbol id="grey" viewBox="0 0 98 92">
        <title>star</title>
        <path d='M49 73.5L22.55 87.406l5.05-29.453-21.398-20.86 29.573-4.296L49 6l13.225 26.797 29.573 4.297-21.4 20.86 5.052 29.452z' fill="grey"/>
        </svg>
{%endblock%}