{% extends "base.html" %}


{% block test %}

<img style="max-height: 100px" src="/static/images/main.svg">
{%endblock%}


{% block search%}
<form action="{{ url_for('initialise') }}" method="POST">
        <input type="text" name="search term" value="{{searchValue}}">
        <select name="genre">
            {% set select = ["All genres", "Comics", "Drama", "Science", "Fiction"]%}
            {% set selected = ""%}
            {%for eachOption in select%}
               {%if eachOption == genre%}
               {%set selected = "selected"%}
               {%endif%}
              <option value="{{eachOption}}" {{selected}}>{{eachOption}}</option>
            {%endfor%}
          </select>
        <input type="submit" value="Submit">
        
      </form>
{% endblock%}