{% extends "base.html" %}


{%block log_in%}
<style>





</style>

<div class="container_main" id="log_main">

<svg  xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" class="svg_main svg-inline--fa fa-user fa-w-14" role="img" viewBox="0 0 448 512"><path fill="white" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"/></svg>
</div>
<div class="headline">
<h3>Please log in in order to {{message}}</h3>
</div>
<div class="form_wrap">
{%if error == True%}
<span id="log_error">User with this name does not exist:</span>
{%endif%}
 
<form action="/log_in" method="POST" class="general_form">
    <label class="label_icon" for="user_name"><i class="fas fa-user"></i></label>
    <input type="text" name="user_name" placeholder="  User name" required>
    <hr class="thin_line">
    <label class="label_icon" for="password"><i class="fas fa-key"></i></label>
    <input type="password" name="password" placeholder="  Password" required>
    <input type="submit" value="log in" class="form_btn" id="log_button">
</form>
<div><h5>Don't have an account?</h5>
<a href="/register">Register</a>
</div>
</div>

{%endblock%}