{% extends "base.html" %}

{%block review%}
<!-- override gllobal svg style  -->

<!-- if review was already submitted do not show the form -->
<div class="container_main" >
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-edit" id="review_svg" class="svg_main svg-inline--fa fa-user-edit fa-w-20" role="img" viewBox="0 0 640 512"><path fill="white" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h274.9c-2.4-6.8-3.4-14-2.6-21.3l6.8-60.9 1.2-11.1 7.9-7.9 77.3-77.3c-24.5-27.7-60-45.5-99.9-45.5zm45.3 145.3l-6.8 61c-1.1 10.2 7.5 18.8 17.6 17.6l60.9-6.8 137.9-137.9-71.7-71.7-137.9 137.8zM633 268.9L595.1 231c-9.3-9.3-24.5-9.3-33.8 0l-37.8 37.8-4.1 4.1 71.8 71.7 41.8-41.8c9.3-9.4 9.3-24.5 0-33.9z"/></svg>
</div>
{%if status != True%}
<div class="headline">
    <h3>Write your review</h3>
    </div>
<form action="/review:bookID:{{book_id}}" method="POST" class="general_form" id="review_form" name="review_form" >
        <label for="title">Title</label><br>
        <input type="text" name="title" id="title" value="" ><span id="titleError"></span><br>

        <label for="comment">Your comment</label><br>
      

         <textarea rows="4" cols="50" name="comment" id="comment" ></textarea> <span id="reviewError"></span><br>
         
            <span >
                <svg style="display: none; width: 1.8em; height: 2em">
                    <symbol id="star" viewBox="0 0 98 92">
                    <title>star</title>
                    <path d='M49 73.5L22.55 87.406l5.05-29.453-21.398-20.86 29.573-4.296L49 6l13.225 26.797 29.573 4.297-21.4 20.86 5.052 29.452z' fill-rule='evenodd'/>
                  </svg>
                  How many stars would you give?<br>
                  <div style="display: inline-block">
                    <div id="stars" class="stars">
                      <a class="star" href="javascript:void(0)"><svg class="star_svg"><use xlink:href="#star"></use></svg></a>
                      <a class="star" href="javascript:void(0)"><svg class="star_svg"><use xlink:href="#star"></use></svg></a>
                      <a class="star" href="javascript:void(0)"><svg class="star_svg"><use xlink:href="#star"></use></svg></a>
                      <a class="star" href="javascript:void(0)"><svg class="star_svg"><use xlink:href="#star"></use></svg></a>
                      <a class="star" href="javascript:void(0)"><svg class="star_svg"><use xlink:href="#star"></use></svg></a>
                    </div>
                  </div>
                
                
             </span><span id="ratingError"></span><br>
        <input type="hidden" name="book_id" value="{{book_id}}">
        <input type="hidden" name="rating" id="rating" value = 0>
        
      
      </form>

                  
  
        
                       <button id="submit" onclick="validate()">submit</button>
        
        

           
                
        
   
        
        
        
                          <script>
                          
        var starContainer = document.getElementById('stars')
        var stars = Array.prototype.slice.call(starContainer.children)
        var totalStars = stars.length
        var rated = document.getElementById('rated')
        
       
        starContainer.addEventListener('click', function(e) {
          var index = stars.indexOf(e.target)
          var count = totalStars - index;
          stars.forEach(el => el.classList.remove('is-selected'))
          e.target.classList.add('is-selected')
          document.getElementById("rating").value = count;
        })


        function validate() {
           var title =  document.getElementById('title').value;
          
          var review = document.getElementById('comment').value;
           var rating = document.getElementById('rating').value;
          if (title == ""){
           document.getElementById("titleError").innerHTML = "Please fill in this field";}
          else{
            document.getElementById("titleError").innerHTML =""
          }
          if (review == ""){
           document.getElementById("reviewError").innerHTML = "Please fill in this field";}
          else{
            document.getElementById("reviewError").innerHTML = ""
          }
          if (rating == "0"){
           document.getElementById("ratingError").innerHTML = "Please fill in this field";}
          else{
            document.getElementById("ratingError").innerHTML = ""
          }
          if(title != "" && review != "" && rating != "0"){document.getElementById("review_form").submit();}
}


            </script>

{%else%}
   
<h4>thank you for your review</h4>
<p>You can go back 
<a href="/Book_page/book_id:{{book_id}}">here</a>
</p>
{%endif%} 
{%endblock%}


