{% extends "base.html" %}

{%block review%}

ID = {{book_id}}
<form action="/review:bookID:{{book_id}}" method="POST">
        <input type="text" name="search term" value="{{searchValue}}">
        <select name="genre">
            {% set select = ["All genres", "Comics", "Drama", "Science", "Fiction"]%}
            {% set selected = ""%}
            {%for eachOption in select%}
               {%if eachOption == genre%}
               {%set selected = "selected"%}
               {%endif%}
              <option value="{{eachOption}}" {{selected}}>{{eachOption}}</option>
            {%endfor%}
          </select>
        <input type="submit" value="Submit">
        
      </form>
{%endblock%}