{% extends "base.html" %}
{% block test1 %}
</br>
</br>
</br>
<div class="container">

    <h1 class="text-center">Pure CSS Percentage Circle</h1>

    <!-- default -->
    <div class="row">

        <div class="col-xs-6 col-sm-3">
            <div class="inner-content text-center">

                <div class="c100 p70 center">
                    <span>0%</span>
                    <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                </div>

             

 

</div>


           
{%endblock%}